[gcode_macro _idex_filamentPull]
gcode = 
    
    RESPOND TYPE=echo MSG="DEBUG: Iniciando _idex_filamentPull"
    RESPOND TYPE=echo MSG="DEBUG: Modo de extrusão atual: {{ printer.gcode.move_extrude_relative }}"
	RESPOND TYPE=echo MSG="DEBUG: Posição atual do extrusor: {{ printer.extruder.position }}"
		
    {% set dcvars = printer["gcode_macro DC_VARS"] %}
	{% set readmaterialsvars = printer["gcode_macro _idexReadMaterials"] %}
	{% set cool_e0 = readmaterialsvars.material_0_cooldown %}
	{% set cool_e1 = readmaterialsvars.material_1_cooldown %}
	{% set lastextruder = 0 if printer.dual_carriage.carriage_0 == 'PRIMARY' else 1 %}
	{% set longretract = -75 %}
	{% set shortretract = -50 %}

    RESPOND TYPE=echo MSG="DEBUG: lastextruder={{ lastextruder }}, print_mode={{ dcvars.print_mode }}, extruders_enabled={{ dcvars.extruders_enabled }}"
	
	{% if dcvars.print_mode != 0 %}
        SET_DUAL_CARRIAGE CARRIAGE=1 MODE=MIRROR
        SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=extruder
        G1 E-22 F3000
        TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={cool_e0}
        M400
        G1 E{longretract} F3200
        SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=extruder1
        _NOZZLE_SCRUB
	
	{% elif dcvars.extruders_enabled == 2 %}
		M400
		{% if cool_e0 >= cool_e1 %}
			# Firt E0
			ACTIVATE_EXTRUDER EXTRUDER=extruder
			SET_DUAL_CARRIAGE CARRIAGE=0
			TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={cool_e0}
            {% set retract_value = longretract if lastextruder == 0 else shortretract %}
            RESPOND TYPE=echo MSG="DEBUG: Retração extruder 0 = {{ retract_value }}"
            G1 E{retract_value} F3200
			_NOZZLE_SCRUB

			# After E1
            ACTIVATE_EXTRUDER EXTRUDER=extruder1
            SET_DUAL_CARRIAGE CARRIAGE=1
            TEMPERATURE_WAIT SENSOR=extruder1 MAXIMUM={cool_e1}
            {% set retract_value = longretract if lastextruder == 1 else shortretract %}
            RESPOND TYPE=echo MSG="DEBUG: Retração extruder 1 = {{ retract_value }}"
            G1 E{retract_value} F3200
            _NOZZLE_SCRUB
		
		{% else %}

			# Firt E1
            ACTIVATE_EXTRUDER EXTRUDER=extruder1
            SET_DUAL_CARRIAGE CARRIAGE=1
            TEMPERATURE_WAIT SENSOR=extruder1 MAXIMUM={cool_e1}
            {% set retract_value = longretract if lastextruder == 1 else shortretract %}
            RESPOND TYPE=echo MSG="DEBUG: Retração extruder 1 = {{ retract_value }}"
            G1 E{retract_value} F3200
            _NOZZLE_SCRUB

            # After E0
            ACTIVATE_EXTRUDER EXTRUDER=extruder
            SET_DUAL_CARRIAGE CARRIAGE=0
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={cool_e0}
            {% set retract_value = longretract if lastextruder == 0 else shortretract %}
            RESPOND TYPE=echo MSG="DEBUG: Retração extruder 0 = {{ retract_value }}"
            G1 E{retract_value} F3200
            _NOZZLE_SCRUB

		{% endif %}
	
		# Garante que o extrusor ativo final será o primário
		ACTIVATE_EXTRUDER EXTRUDER=extruder1
		SET_DUAL_CARRIAGE CARRIAGE=1
		TEMPERATURE_WAIT SENSOR=extruder1 MAXIMUM={cool_e1}
	
	{% else %}
		# Apenas um extrusor ativo
        {% if printer.dual_carriage.carriage_0 == 'PRIMARY' %}
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={cool_e0}
			RESPOND TYPE=echo MSG="DEBUG: Retração única no extruder 0 = {{ longretract }}"
            G1 E{longretract} F3200
            M400
            _NOZZLE_SCRUB
        {% else %}
            TEMPERATURE_WAIT SENSOR=extruder1 MAXIMUM={cool_e1}
			RESPOND TYPE=echo MSG="DEBUG: Retração única no extruder 1 = {{ longretract }}"
            G1 E{longretract} F3200
            M400
            _NOZZLE_SCRUB
        {% endif %}
    {% endif %}

	# Posição segura no final
    G1 Y150 F30000

	# RESPOND TYPE=echo MSG="_idex_filamentPull inside"
	M400  # Wait for all movements to finish