# [probe]
# pin = PG5
# z_offset = -1.075	# Z position after probing
# speed = 3.0	# Speed (in mm/s) of the Z axis when probing. Default is 5mm/s.

[probe]
pin = rp2040:gpio16  #PC13
speed = 3.0	#Speed (in mm/s) of the Z axis when probing. The default is 5mm/s.
samples = 3
sample_retract_dist = 0.5
lift_speed = 10
samples_result = average
samples_tolerance = 0.135
samples_tolerance_retries = 1