####################################################################
# Enable the "M118" and "RESPOND" extended commands.
####################################################################
[respond]
# Respond provide feedback to the user or to help with debugging. 
