####################################################################
# Update the status displayed on a connected LCD.
# 
# The DISPLAY_STATUS macro typically takes a single argument, which 
# is the message to be displayed. This message is then sent to the 
# display controller to update the screen.
####################################################################
[display_status]

