[z_tilt]
z_positions = 
    -59,160
    362,160

points = 
    50,160
    270,160

speed = 250
horizontal_move_z = 5

[bed_screws]
screw1 = 50,15
screw1_name = Front left screw
screw2 = 270,15
screw2_name = Front right screw
screw3 = 160,305
screw3_name = Rear center screw
speed = 250

[axis_twist_compensation]
speed = 350
calibrate_start_x = 35
calibrate_end_x = 285
calibrate_y = 160

[bed_mesh]
speed: 300
horizontal_move_z: 5
mesh_min: 35,35
mesh_max: 285,285
probe_count: 6,6
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: 0.2
move_check_distance: 5
split_delta_z: 0.025


################################################################################
# Probe Z offset calibration script
# This script series of commands to automate a probe calibration routine
# [gcode_macro BED_SCREWS_ADJUST]
# rename_existing: BED_SCREWS_ADJUST_BASE
# gcode:
# 	{% set X = params.X|default(160)|float %}
# 	{% set Y = params.Y|default(160)|float %}
# 	{% set Z = params.Z|default(5)|float %}
# 	{% set E = params.E|default(90)|float %}
# 	{% set T = params.T|default(235)|float %}
# 	_setLedStatusProbing
# 	G28
# 	Z_TILT_ADJUST
# 	BED_SCREWS_ADJUST_BASE
[gcode_macro BED_SCREWS_ADJUST]
rename_existing: BED_SCREWS_ADJUST_BASE
gcode:
    {% set MESH = params.MESH|default(1)|int %}
    {% set SAFE_Z = 10 %}

    RESPOND PREFIX="info" MSG="🏁 Iniciando calibração a frio da IDEX..."
    G28
    G90
    G1 Z{SAFE_Z} F6000

    RESPOND PREFIX="info" MSG="🔧 Corrigindo paralelismo (Z_TILT_ADJUST)..."
    Z_TILT_ADJUST

    RESPOND PREFIX="info" MSG="🪛 Ajuste guiado dos parafusos..."
    BED_SCREWS_ADJUST_BASE

    RESPOND PREFIX="info" MSG="🔁 Rechecando paralelismo..."
    Z_TILT_ADJUST

    {% if MESH == 1 %}
      RESPOND PREFIX="info" MSG="📊 Gerando nova malha de nivelamento (a frio)..."
      BED_MESH_CALIBRATE
      SAVE_CONFIG
    {% endif %}

    RESPOND PREFIX="info" MSG="✅ Calibração IDEX a frio concluída!"

[gcode_macro endstop_phase_calibration]
gcode:
    T0
    G4 P2500
    G28
    M400
    ENDSTOP_PHASE_CALIBRATE
    M400
    SET_DUAL_CARRIAGE CARRIAGE=0
    G1 X115.65 Y120.34 Z220.58 F12000
    G4 P1000
    SET_DUAL_CARRIAGE CARRIAGE=1
    G1 X220.42
    M400
    SET_DUAL_CARRIAGE CARRIAGE=0
    G28
    M400
    ENDSTOP_PHASE_CALIBRATE
    M400
    G1 X89.65 Y145.59 Z320.58 F12000
    G4 P1000
    SET_DUAL_CARRIAGE CARRIAGE=1
    G1 X250.12
    M400
    SET_DUAL_CARRIAGE CARRIAGE=0
    G28
    M400
    ENDSTOP_PHASE_CALIBRATE
    M400
    G1 X145.65 Y220.78 Z184.18 F12000
    G4 P1000
    SET_DUAL_CARRIAGE CARRIAGE=1
    G1 X195.27
    M400
    SET_DUAL_CARRIAGE CARRIAGE=0
    G28
    M400
    ENDSTOP_PHASE_CALIBRATE
    M400
    G1 X165.65 Y287.34 Z137.58 F12000
    G4 P1000
    SET_DUAL_CARRIAGE CARRIAGE=1
    G1 X272.42
    M400
    SET_DUAL_CARRIAGE CARRIAGE=0
    G28
    M400
    ENDSTOP_PHASE_CALIBRATE
    M400
    G1 X42.55 Y263.34 Z312.5 F12000
    G4 P2000
    SET_DUAL_CARRIAGE CARRIAGE=1
    G1 X152.47
    M400
    SET_DUAL_CARRIAGE CARRIAGE=0
    G28
    M400
    ENDSTOP_PHASE_CALIBRATE
    M400
    ENDSTOP_PHASE_CALIBRATE STEPPER=stepper_x
    M400
    ENDSTOP_PHASE_CALIBRATE STEPPER=dual_carriage
    M400
    ENDSTOP_PHASE_CALIBRATE STEPPER=stepper_y
    M400
    ENDSTOP_PHASE_CALIBRATE STEPPER=stepper_z
    G4 P2000
    SAVE_CONFIG


