[gcode_macro CANCEL_PRINT]
description = Cancel the actual running print
rename_existing = CANCEL_PRINT_BASE
gcode = 
	
	# M118 Cancelando impressão...    

	{% set dcvars = printer["gcode_macro DC_VARS"] %}
	
	# Cancel indicator
	_setLedStatusCancel
	# Turn off heater system
	TURN_OFF_HEATERS
	# Turn on fan to help cooling process
	M106 S255
	
    {% if printer["gcode_macro PRIME_ROUTINE"].primed == 1 %}

        # Retração de material
        G92 E0
        G91
        G1 Z10 E-5 F3000
        # Espera tudo terminar
        M400
		
		CANCEL_PRINT_BASE
        
  		# Homing dos eixos
        G28 Z
        G28 X
        G28 Y
        # Espera tudo terminar
        M400

		### Material retraction
		# Select material
		_idexReadMaterials
		# Pull action
		# Include cold pull routine
		_idex_filamentPull
		
		# Turn off fan 
		M106 S0

		# Turn off steppers
		M84
		
		# Wait for all movements to finish
		M400 
	
    {% else %}
		
		CANCEL_PRINT_BASE
		
		### Homing axis (Z)
		# Z-axis
		G28 Z
		# M118 Zerando eixo Z...
		
		# Turn off fan 
		M106 S0
		
		# Turn off steppers
		M84

		# Wait for all movements to finish
		M400 

	{% endif %}
    
	### Change variables values
	ACTIVATE_EXTRUDER EXTRUDER=extruder
	SET_DUAL_CARRIAGE CARRIAGE=0
	SET_GCODE_OFFSET X=0 Y=0 Z=0
	RESTORE_GCODE_STATE NAME=DEFAULT
	SET_GCODE_VARIABLE MACRO=AFC_VARS VARIABLE=afc VALUE=0
	SET_GCODE_VARIABLE MACRO=AFC_VARS VARIABLE=was_enabled VALUE=0
	SET_GCODE_VARIABLE MACRO=AFC_VARS VARIABLE=isprinting VALUE=0
	SET_GCODE_VARIABLE MACRO=PRIME_ROUTINE VARIABLE=primed VALUE=0
	SET_GCODE_VARIABLE MACRO=T0 VARIABLE=was_active VALUE=0
	SET_GCODE_VARIABLE MACRO=T0 VARIABLE=was_primed VALUE=0
	SET_GCODE_VARIABLE MACRO=T1 VARIABLE=was_active VALUE=0
	SET_GCODE_VARIABLE MACRO=T1 VARIABLE=was_primed VALUE=0
	SET_GCODE_VARIABLE MACRO=DC_VARS VARIABLE=extruder1_in_use VALUE=0

	# M118 Impressão cancelanda!!!    

	# Wait for all movements to finish
	M400 