# [gcode_macro _idexParkTool]
# gcode = 
	
# 	# RESPOND TYPE=echo MSG="Posicionando cabeças de impressão em posição de descanso..."
	
# 	{% set dcvars = printer["gcode_macro DC_VARS"] %}
	
# 	SAVE_GCODE_STATE NAME=park_tool
# 	SET_GCODE_OFFSET X=0 Y=0 Z=0
# 	G90
	
# 	{% if printer.dual_carriage.carriage_0 == 'PRIMARY' %}
# 		{% set extruderLeftPositionX = printer.configfile.settings.stepper_x.position_endstop|float + 0.75 %}
# 		G1 X{extruderLeftPositionX} F{dcvars.feedrate}
# 	{% elif printer.dual_carriage.carriage_1 == 'PRIMARY' %}
# 		{% set extruderRightPositionX = printer.configfile.settings.dual_carriage.position_endstop|float - 0.75 %}
# 		G1 X{extruderRightPositionX} F{dcvars.feedrate}
# 	{% else %}
# 		RESPOND TYPE=error MSG={ "Unknown extruder: %s".format(printer.toolhead.extruder) }
# 	{% endif %}
	
#     {% if dcvars.y_scrub <= 275 %}
# 		SET_GCODE_VARIABLE MACRO=DC_VARS VARIABLE=y_scrub VALUE=290
# 	{% else %}
# 		SET_GCODE_VARIABLE MACRO=DC_VARS VARIABLE=y_scrub VALUE={dcvars.y_scrub - 1}
# 	{% endif %}
	
# 	SAVE_VARIABLE VARIABLE=y_scrub VALUE={dcvars.y_scrub}
# 	RESTORE_GCODE_STATE NAME=park_tool
	
# 	# Wait for all movements to finish
# 	M400 

# [gcode_macro _idexParkTool]
# description: Estaciona o bico atual com purga e limpeza
# gcode = 
	
# 	{% set dcvars = printer["gcode_macro DC_VARS"] %}
# 	{% set extruder = printer.toolhead.extruder %}
# 	{% set isLeft = printer.dual_carriage.carriage_0 == 'PRIMARY' %}
# 	{% set isRight = printer.dual_carriage.carriage_1 == 'PRIMARY' %}
	
# 	SAVE_GCODE_STATE NAME=park_tool
# 	SET_GCODE_OFFSET X=0 Y=0 Z=0
# 	G90

# 	# Purga e limpeza dependendo do bico ativo
# 	{% if isLeft %}
# 		# Cabeça esquerda (T0)
# 		G1 X-9 Y308 Z10 F{dcvars.feedrate}
# 		M109 T0 S{printer.extruder.target|int}  ; garante que está na temperatura correta
# 		G92 E0
# 		G1 E8 F500     ; purga leve
# 		G1 E-2 F1800   ; retração
# 		_NOZZLE_SCRUB
# 	{% elif isRight %}
# 		# Cabeça direita (T1)
# 		G1 X330 Y308 Z10 F{dcvars.feedrate}
# 		M109 T1 S{printer.extruder1.target|int}
# 		G92 E0
# 		G1 E8 F500
# 		G1 E-2 F1800
# 		_NOZZLE_SCRUB
# 	{% else %}
# 		RESPOND TYPE=error MSG="Extrusora ativa desconhecida durante _idexParkTool"
# 	{% endif %}

# 	# Ajuste automático do y_scrub (mantido, se for necessário em outro ponto)
# 	{% if dcvars.y_scrub <= 308 %}
# 		SET_GCODE_VARIABLE MACRO=DC_VARS VARIABLE=y_scrub VALUE=290
# 	{% else %}
# 		SET_GCODE_VARIABLE MACRO=DC_VARS VARIABLE=y_scrub VALUE={dcvars.y_scrub - 1}
# 	{% endif %}
# 	SAVE_VARIABLE VARIABLE=y_scrub VALUE={dcvars.y_scrub}

# 	RESTORE_GCODE_STATE NAME=park_tool
# 	M400


[gcode_macro _idexParkTool]
gcode = 
	
	# RESPOND TYPE=echo MSG="Posicionando cabeças de impressão em posição de descanso..."
	
	{% set dcvars = printer["gcode_macro DC_VARS"] %}
	
	SAVE_GCODE_STATE NAME=park_tool
	SET_GCODE_OFFSET X=0 Y=0 Z=0
	G90
	
	{% if printer.dual_carriage.carriage_0 == 'PRIMARY' %}
		{% set extruderLeftPositionX = printer.configfile.settings.stepper_x.position_endstop|float + 0.75 %}
		G1 X{extruderLeftPositionX} F{dcvars.feedrate}
	{% elif printer.dual_carriage.carriage_1 == 'PRIMARY' %}
		{% set extruderRightPositionX = printer.configfile.settings.dual_carriage.position_endstop|float - 0.75 %}
		G1 X{extruderRightPositionX} F{dcvars.feedrate}
	{% else %}
		RESPOND TYPE=error MSG={ "Unknown extruder: %s".format(printer.toolhead.extruder) }
	{% endif %}
	
    {% if dcvars.y_scrub <= 275 %}
		SET_GCODE_VARIABLE MACRO=DC_VARS VARIABLE=y_scrub VALUE=290
	{% else %}
		SET_GCODE_VARIABLE MACRO=DC_VARS VARIABLE=y_scrub VALUE={dcvars.y_scrub - 1}
	{% endif %}
	
	SAVE_VARIABLE VARIABLE=y_scrub VALUE={dcvars.y_scrub}
	RESTORE_GCODE_STATE NAME=park_tool
	
	# Wait for all movements to finish
	M400 