####################################################################
# This is the main configuration file for the SYNCRAFT 3D printer. 
# It defines the printer's hardware setup, firmware settings, and 
# operational parameters, allowing the firmware to control the 
# printer's movements, temperatures, and other functions.
####################################################################

####################################################################
# Printer Configuration
####################################################################
[include printers/syncraft-x1-v4/main.cfg]
### Step Motors
# X
[include step-motors/JUGETEK/17HS3001-20B/TMC2209/stepper-x.cfg]
# Y
[include step-motors/KALATEC/42SH48-1684-08AF/TMC2209/stepper-y.cfg]
# Z
[include step-motors/JUGETEK/17HS3001-400N/TMC2209/stepper-z-SENSORLESS.cfg]
[include step-motors/JUGETEK/17HS3001-400N/TMC2209/stepper-z1-SENSORLESS.cfg]
# Extruder
[include step-motors/KALATEC/42SH48-1684-08AF/TMC2209/extruder-0.cfg]
[include step-motors/KALATEC/42SH48-1684-08AF/TMC2209/extruder-1-stepper.cfg]

### Need atention
[include printers/syncraft-x1-v4/macros/auto-filament-change.cfg]
[include printers/syncraft-x1-v4/macros/macros.cfg]
[include printers/syncraft-x1-v4/macros/materials.cfg]
[include printers/syncraft-x1-v4/macros/timelapse.cfg]

[delayed_gcode last_extruder]
gcode:
	{% set svv = printer.save_variables.variables %}
	{% if svv.currentextruder == 'extruder' %}
		SYNC_EXTRUDER_MOTION EXTRUDER=extruder MOTION_QUEUE=extruder
		SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=
		SET_GCODE_VARIABLE MACRO=AUTO_FILAMENT_CHANGE VARIABLE=active_extruder VALUE=0
	{% else %}
		SYNC_EXTRUDER_MOTION EXTRUDER=extruder MOTION_QUEUE=
		SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=extruder
		SET_GCODE_VARIABLE MACRO=AUTO_FILAMENT_CHANGE VARIABLE=active_extruder VALUE=1
	{% endif %}
initial_duration: 1.0

####################################################################
# Hardware Configuration
####################################################################
[include boards/BIGTREETECH-M8P-v1.1.cfg]

[include beds/syncraft-bed-300-x-300.cfg]

[include extruders/extruder-0.cfg]
[include extruders/extruder-1-stepper.cfg]
[include extruders/extruder-acceleration.cfg]

[include fans/chamber-fan.cfg]
[include fans/eletronic-fan.cfg]
[include fans/heater-fan.cfg]
[include fans/print-fan.cfg]

[include sensors/chamber-temperature-sensor.cfg]

[include lights/case-light.cfg]
[include lights/heater-leds.cfg]
[include lights/progress-leds.cfg]
[include lights/rp2040-onLed.cfg]

####################################################################
# Klipper Configuration
####################################################################
[include klipper-sets/main.cfg]

####################################################################
# Macros and G-Codes
####################################################################
### Calibration
[include calibrations/bed-mesh.cfg]
[include calibrations/bed-screws.cfg]
[include calibrations/screws-tilt.cfg]



