####################################################################
# Printer informartion. 
####################################################################  

# [MODEL_INFO]
# Model Name: X1
# Model Version: V4
# Manufacturer: SYNCRAFT
# Model Year: 2025

# [PRINTER_SPECS]
# Printing Technology: FFF/FDM
# Build Volume (X x Y x Z): 300 x 300 x 340 mm
# Filament Diameter: 2.85 mm
# Heated Bed: Yes
# Number of Extruders: 1
# Extruder Type: Bowden extruder
# Nozzle: Interchangeable
# Leveling System: Automatic

####################################################################
# Printer definition. 
####################################################################  
[printer]
kinematics: cartesian
#   The type of printer in use.
max_velocity: 500
#   Maximum velocity (in mm/s) of the toolhead (relative to the
#   print).
max_accel: 7000
#   Maximum acceleration (in mm/s^2) of the toolhead (relative to the
#   print).
# minimum_cruise_ratio: 0.5
#   Most moves will accelerate to a cruising speed, travel at that
#   cruising speed, and then decelerate.
square_corner_velocity: 7.0
#   The maximum velocity (in mm/s) that the toolhead may travel a 90
#   degree corner at.
max_z_velocity = 25
#   This sets the maximum velocity (in mm/s) of movement along the z
#   axis.
max_z_accel = 200
#   This sets the maximum acceleration (in mm/s^2) of movement along
#   the z axis. It limits the acceleration of the z stepper motor.
