[respond]

[save_variables]
filename: /home/pi/printer_data/config/variables.cfg

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[display_status]

[pause_resume]
recover_velocity: 200

[endstop_phase]

[skew_correction]

[delayed_gcode last_extruder]
gcode:
	{% set svv = printer.save_variables.variables %}
	{% if svv.currentextruder == 'extruder' %}
		SYNC_EXTRUDER_MOTION EXTRUDER=extruder MOTION_QUEUE=extruder
		SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=
		SET_GCODE_VARIABLE MACRO=AUTO_FILAMENT_CHANGE VARIABLE=active_extruder VALUE=0
	{% else %}
		SYNC_EXTRUDER_MOTION EXTRUDER=extruder MOTION_QUEUE=
		SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=extruder
		SET_GCODE_VARIABLE MACRO=AUTO_FILAMENT_CHANGE VARIABLE=active_extruder VALUE=1
	{% endif %}
	M400
	_readMaterials
initial_duration: 1.0

[gcode_arcs]
resolution: 0.2

[input_shaper]
shaper_freq_x = 79.8  # frequency for the X mark of the test model
shaper_type_x = mzv
shaper_freq_y = 32.2  # frequency for the Y mark of the test model
shaper_type_y = zv

#############################################################################
#### Include Syncraft Config Files
#############################################################################
# Macros
[include macros/*]

# Steppers
[include steppers/*]

# Drivers
## Driver for x-axis
[include drivers/tmc2209/LDO-42STH48-2504AC/tmc2209StepperX.cfg]
## Driver for y-axis
[include drivers/tmc2209/LDO-42STH48-2504AC/tmc2209StepperY.cfg]
## Driver for z-axis
[include drivers/tmc2209/LDO-42STH40-1684CL400E/tmc2209StepperZ.cfg]
# Extruders
[include drivers/tmc2209/LDO-42STH48-2504AC/tmc2209Extruder0.cfg]
[include drivers/tmc2209/LDO-42STH48-2504AC/tmc2209Extruder1ExtruderStepper.cfg]

# Heaters and Extruders
[include heaters/*]
[include extruders/*]

### Others
[include sensors/*]
[include probe/*]
[include fans/*]
[include lights/*]

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 7000
max_z_velocity: 25
max_z_accel: 200
square_corner_velocity: 12.0

[board_pins]
aliases = 
	EXP1_1=PE9,
	EXP1_2=PE10,

	EXP1_3=PE11,
	EXP1_4=PE12,

	EXP1_5=PE13,
	EXP1_6=PE14,
	# Slot in the socket on this side
	EXP1_7=PE15,
	EXP1_8=PB10,

	EXP1_9=<GND>,
	EXP1_10=<5V>,

	
	EXP2_1=PB14,
	EXP2_2=PB13,

	EXP2_3=PF7,
	EXP2_4=PB12,

	EXP2_5=PE7,
	EXP2_6=PB11,
		# Slot in the socket on this side
	EXP2_7=PE8,
	EXP2_8=<RST>,

	EXP2_9=<GND>,
	EXP2_10=PC5,

	RUNOUT_SP1=PC1