####################################################################
# Settings for printer params configuration.
####################################################################

####################################################################
# Settings for local configuration paths.
####################################################################
[save_variables]
filename: /home/pi/printer_data/config/variables.cfg

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

####################################################################
# Printer Skew Correction.
# 
# Printer Skew Correction. It is possible to use software to correct 
# printer skew across 3 planes, xy, xz, yz. This is done by printing 
# calibration model along a plane and measuring three lengths. Due 
# to the nature of skew correction these lengths are set via gcode.
####################################################################
[skew_correction]

####################################################################
# Enable the "M118" and "RESPOND" extended commands.
####################################################################
[respond]
# Respond provide feedback to the user or to help with debugging. 

####################################################################
# Pause/Resume functionality with support of position capture and restore. 
####################################################################
[pause_resume]
recover_velocity: 200
#   When capture/restore is enabled, the speed at which to return to
#   the captured position (in mm/s). Default is 50.0 mm/s.

####################################################################
# Support for gcode arc (G2/G3) commands. 
####################################################################
[gcode_arcs]
resolution: 0.75
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.

####################################################################
# Enable endstop phase calibration
#################################################################### 
[endstop_phase]
#endstop_accuracy:
#   Sets the expected accuracy (in mm) of the endstop. This represents
#   the maximum error distance the endstop may trigger (eg, if an
#   endstop may occasionally trigger 100um early or up to 100um late
#   then set this to 0.200 for 200um). The default is
#   4*rotation_distance/full_steps_per_rotation.
#trigger_phase:
#   This specifies the phase of the stepper motor driver to expect
#   when hitting the endstop. It is composed of two numbers separated
#   by a forward slash character - the phase and the total number of
#   phases (eg, "7/64"). Only set this value if one is sure the
#   stepper motor driver is reset every time the mcu is reset. If this
#   is not set, then the stepper phase will be detected on the first
#   home and that phase will be used on all subsequent homes.
#endstop_align_zero: False
#   If true then the position_endstop of the axis will effectively be
#   modified so that the zero position for the axis occurs at a full
#   step on the stepper motor. (If used on the Z axis and the print
#   layer height is a multiple of a full step distance then every
#   layer will occur on a full step.) The default is False.

####################################################################
# Update the status displayed on a connected LCD.
# 
# The DISPLAY_STATUS macro typically takes a single argument, which 
# is the message to be displayed. This message is then sent to the 
# display controller to update the screen.
####################################################################
[display_status]

[exclude_object]
