[include ../_firmware-configs/klipperParams.cfg]

[input_shaper]
shaper_freq_x = 79.8  # frequency for the X mark of the test model
shaper_type_x = mzv
shaper_freq_y = 32.2  # frequency for the Y mark of the test model
shaper_type_y = zv

#############################################################################
#### Include Syncraft Config Files
#############################################################################
# Macros
[include macros/*]

# Steppers
[include steppers/*]

# Drivers
## Driver for x-axis
[include drivers/tmc2209/LDO-42STH48-2504AC/tmc2209StepperX.cfg]
## Driver for y-axis
[include drivers/tmc2209/LDO-42STH48-2504AC/tmc2209StepperY.cfg]
## Driver for z-axis
[include drivers/tmc2209/LDO-42STH40-1684CL400E/tmc2209StepperZ.cfg]
## Extruders
[include drivers/tmc2209/LDO-42STH48-2504AC/tmc2209Extruder0.cfg]
[include drivers/tmc2209/LDO-42STH48-2504AC/tmc2209Extruder1ExtruderStepper.cfg]

# Heaters and Extruders
[include heaters/*]
[include extruders/*]

# Others
[include sensors/*]
[include probe/*]
[include fans/*]
[include lights/*]

# Board and Printer Configurations
[include ../_boards/manta-m8p-1.1.cfg]

[include ../_printers/x1-v4.cfg]
