####################################################################
# Settings for chamber temperature sensor. 
####################################################################
[temperature_sensor chamber_fan]
sensor_type: Generic 3950
#   Type of sensor - common thermistors are "EPCOS 100K B57560G104F",
#   "ATC Semitec 104GT-2", "ATC Semitec 104NT-4-R025H42G", "Generic
#   3950","Honeywell 100K 135-104LAG-J01", "NTC 100K MGB18-104F39050L32",
#   "SliceEngineering 450", and "TDK NTCG104LH104JT1". See the
#   "Temperature sensors" section for other sensors. 
sensor_pin: PA3
#   Analog input pin connected to the sensor. This parameter must be
#   provided
pullup_resistor: 4700
#   The resistance (in ohms) of the pullup attached to the thermistor.
#   This parameter is only valid when the sensor is a thermistor. The
#   default is 4700 ohms.
min_temp: 0
max_temp: 70
#   See the "extruder" section for the definition of the above
#   parameters.
# gcode_id: 
#   See the "heater_generic" section for the definition of this
#   parameter.

