[gcode_macro _NOZZLE_SCRUB]
gcode:

	# {% set feedrate = 12000 %}

    # # Define posicionamento absoluto
    # G90
    
    # {% set XPOS = printer.configfile.config.stepper_x.position_max|float - 0.5 %}
    # {% set XPOS1 = printer.configfile.config.stepper_x.position_max|float - 15.0 %}
    # {% set YPOS = printer.configfile.config.stepper_y.position_endstop|float - 6.0 %}
    
	# G1 Y{YPOS} F{feedrate}
	# G1 X{XPOS1} F{feedrate}
	
	# G1 Y{YPOS - 3} F{feedrate}
	# G1 X{XPOS} F{feedrate}
	
	# G1 Y{YPOS - 6} F{feedrate}
	# G1 X{XPOS1} F{feedrate}
	
	# G1 Y{YPOS - 9} F{feedrate}
	# G1 X{XPOS} F{feedrate}
	
	# G1 Y{YPOS - 12} F{feedrate}
	# G1 X{XPOS1} F{feedrate}

    # # Wait for all movements to finish
    # M400 
	
	{% set feedrate = 12000 %}

	G90

	{% set extruderRightPositionXHome = printer.configfile.config.stepper_x.position_max - 2.0|float %}
	{% set extruderRightPositionYScrubStart = printer.configfile.config.stepper_y.position_endstop|float - 10.0 %}
	{% set extruderRightPositionYScrubEnd = printer.configfile.config.stepper_y.position_endstop|float - 60.0 %}

	G1 X{extruderRightPositionXHome} F{10000}
	G1 Y{extruderRightPositionYScrubStart} F{10000}
	G1 X{extruderRightPositionXHome - 0.75} F{10000}
	G1 Y{extruderRightPositionYScrubEnd} F{10000}

	G1 X{extruderRightPositionXHome} F{10000}
	G1 Y{extruderRightPositionYScrubStart} F{10000}
	G1 X{extruderRightPositionXHome - 0.75} F{10000}
	G1 Y{extruderRightPositionYScrubEnd} F{10000}

	G1 X{extruderRightPositionXHome} F{10000}
	G1 Y{extruderRightPositionYScrubStart} F{10000}
	G1 X{extruderRightPositionXHome - 0.75} F{10000}
	G1 Y{extruderRightPositionYScrubEnd} F{10000}
	
	G1 X{extruderRightPositionXHome} F{10000}
	G1 Y{extruderRightPositionYScrubStart} F{10000}
	G1 X{extruderRightPositionXHome - 0.75} F{10000}
	G1 Y{extruderRightPositionYScrubEnd} F{10000}

	G1 X{extruderRightPositionXHome} F{10000}
	G1 Y{extruderRightPositionYScrubStart} F{10000}
	G1 X{extruderRightPositionXHome - 0.75} F{10000}
	G1 Y{extruderRightPositionYScrubEnd} F{10000}
	
	G1 X{extruderRightPositionXHome} F{10000}
	G1 Y{extruderRightPositionYScrubStart} F{10000}
	G1 X{extruderRightPositionXHome - 0.75} F{10000}
	G1 Y{extruderRightPositionYScrubEnd} F{10000}

	G1 X{extruderRightPositionXHome} F{10000}
	G1 Y{extruderRightPositionYScrubStart} F{10000}
	G1 X{extruderRightPositionXHome - 0.75} F{10000}
	G1 Y{extruderRightPositionYScrubEnd} F{10000}
	
	G1 X{extruderRightPositionXHome} F{10000}
	G1 Y{extruderRightPositionYScrubStart} F{10000}
	G1 X{extruderRightPositionXHome - 0.75} F{10000}
	G1 Y{extruderRightPositionYScrubEnd} F{10000}

	# Wait for all movements to finish
	M400