####################################################################
# Settings for extruder/feeder and heater
# The extruder_stepper section is used to support an additional steppers 
# synchronized to the movement of an extruder.
####################################################################
[extruder_stepper extruder1]
extruder:
#   The extruder this stepper is synchronized to. If this is set to an
#   empty string then the stepper will not be synchronized to an
#   extruder.
step_pin = PD11
#   Step GPIO pin (triggered high).
dir_pin = PD9
#   Direction GPIO pin (high indicates positive direction). 
enable_pin = !PD15
#   Enable pin (default is enable high; use ! to indicate enable
#   low). If this parameter is not provided then the stepper motor
#   driver must always be enabled.
full_steps_per_rotation = 200
#   The number of full steps for one rotation of the stepper motor.
#   Set this to 200 for a 1.8 degree stepper motor or set to 400 for a
#   0.9 degree motor. The default is 200.
rotation_distance = 32.250
#   Distance (in mm) that the axis travels with one full rotation of
#   the stepper motor (or final gear if gear_ratio is specified).
microsteps = 32
#   The number of microsteps the stepper motor driver uses.
gear_ratio = 33:11
#   See the "stepper" section for a description of the above
#   parameters. If none of the above parameters are specified then no
#   stepper will be associated with the nozzle hotend (though a
#   SYNC_EXTRUDER_MOTION command may associate one at run-time).