[z_tilt]
z_positions = 
	-59,150
	362,150
points = 
	18.5,150
	278.5,150
speed = 300
horizontal_move_z = 5

[bed_screws]
screw1: 15,15
screw1_name: Front left screw
screw2: 285,15
screw2_name: Front right screw
screw3: 157.5,285
screw3_name: Rear center screw

[screws_tilt_adjust]
screw1: 0,5
screw1_name: Front left screw
screw2: 300,5
screw2_name: Front right screw
screw3: 157.5,300
screw3_name: Rear center screw
horizontal_move_z: 5
speed: 250
screw_thread: CW-M3

##############################################################################
# Setup for auto bed mesh calibration
[bed_mesh]
speed: 400
horizontal_move_z: 2.0
mesh_min: 30,30
mesh_max: 270, 270
probe_count: 4,4
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: 0.2
move_check_distance: 5
split_delta_z: .025
#relative_reference_index: 5
#faulty_region_1_min: 165.0, 155.0
#faulty_region_1_max: 271.0, 271.0
#faulty_region_2_min: 29.0, 155.0
#faulty_region_2_max: 135.0, 271.0

################################################################################
# Probe Z offset calibration script
# This script series of commands to automate a probe calibration routine
[gcode_macro BED_SCREWS_ADJUST]
rename_existing: BED_SCREWS_ADJUST_BASE
gcode:
	{% set X = params.X|default(150)|float %}
	{% set Y = params.Y|default(150)|float %}
	{% set Z = params.Z|default(5)|float %}
	{% set E = params.E|default(90)|float %}
	{% set T = params.T|default(235)|float %}
	_setLedStatusProbing
	G28
	Z_TILT_ADJUST
	BED_SCREWS_ADJUST_BASE