[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
	
    # Cancel indicator
	_setLedStatusCancel

	# Turn off heater system
    TURN_OFF_HEATERS

	# Turn on fan to help cooling process
	M106 S255

    {% if printer["gcode_macro PRIME_ROUTINE"].primed == 1 %}

		### Change variables values	
		SET_GCODE_VARIABLE MACRO=PRIME_ROUTINE VARIABLE=primed VALUE=0
		SET_GCODE_VARIABLE MACRO=AUTO_FILAMENT_CHANGE VARIABLE=isprinting VALUE=0
		SET_GCODE_VARIABLE MACRO=AUTO_FILAMENT_CHANGE VARIABLE=was_enabled VALUE=0
		SET_GCODE_VARIABLE MACRO=AUTO_FILAMENT_CHANGE VARIABLE=afc VALUE=0

        # Material retraction
        G92 E0
        G91
        G1 Z10 E-5 F3000
        # Espera tudo terminar
        M400

        CANCEL_PRINT_BASE

        ### Homing axis (Z, X and Y)
        G28 Z
        G28 X
        G28 Y
        # Espera tudo terminar
        M400

        ### Material retraction
		# Select material
        _readMaterials
		
        # Pull action
		# Include cold pull routine
        _filamentPull

		# Espera tudo terminar
        M400

     {% else %}

        CANCEL_PRINT_BASE

		### Homing axis (Z)
		# Z-axis
		G28 Z
		# M118 Zerando eixo Z...

    {% endif %}
	
	# Turn off fan 
	M106 S0

	# Turn off steppers
	M84

	# Atualiza status geral
    update_printer_status

    # Wait for all movements to finish
	M400 