###############################################################################
#	End Gcode
#	This is the macro called in after completing a print job
[gcode_macro END_GCODE]
description: Rotina de finalização de impressão com limpeza, retração e desligamento
gcode:
    # Indicador visual de fim de impressão (pode ser LED, buzzer etc)
    _setLedStatusFinished

    # Desliga aquecedores
    TURN_OFF_HEATERS

    # Liga fan para resfriar (opcional)
    M106 S255

    {% if printer["gcode_macro PRIME_ROUTINE"].primed == 1 %}

        # Retração de material
        G92 E0
        G91
        G1 Z10 E-5 F3000
        # Espera tudo terminar
        M400

        # Homing dos eixos
        G28 Z
        G28 X
        G28 Y
        # Espera tudo terminar
        M400

		### Material retraction
		# Select material
		_readMaterials
		# Pull action
		# Include cold pull routine
		_filamentPull

        # Espera tudo terminar
        M400

    {% else %}

        ### Homing axis (Z)
		# Z-axis
		G28 Z
		# M118 Zerando eixo Z...

    {% endif %}

    # Reset de variáveis
    SET_GCODE_VARIABLE MACRO=PRIME_ROUTINE VARIABLE=primed VALUE=0
    SET_GCODE_VARIABLE MACRO=AUTO_FILAMENT_CHANGE VARIABLE=isprinting VALUE=0
    SET_GCODE_VARIABLE MACRO=AUTO_FILAMENT_CHANGE VARIABLE=was_enabled VALUE=0
    SET_GCODE_VARIABLE MACRO=AUTO_FILAMENT_CHANGE VARIABLE=afc VALUE=0
    UPDATE_DELAYED_GCODE ID=report_temp DURATION=5

    # Desliga fan
    M106 S0

    # Desliga motores
    M84

    # Atualiza status geral
    update_printer_status
	
	# Espera tudo terminar
    M400