[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
	M109 S{printer['gcode_macro AUTO_FILAMENT_CHANGE'].target_temp}
	{% if printer['gcode_macro AUTO_FILAMENT_CHANGE'].afc == 1 %}
		#G1 X280 Y303 F18000
		#G1 X320
		SET_GCODE_VARIABLE MACRO=AUTO_FILAMENT_CHANGE VARIABLE=afc VALUE=0
		#M109 S{printer['gcode_macro AUTO_FILAMENT_CHANGE'].target_temp}
		G92 E0
		G1 E750 F3500
		M400
		G92 E0
		G1 E70 F65
		G1 E68 F2000
		G1 Y260 F6000
		SET_GCODE_VARIABLE MACRO=M0 VARIABLE=pause_at_height VALUE=0
		RESUME_BASE
		_setLedPrinting
		_setLedNozzleIdle
	{% else %}
		RESTORE_GCODE_STATE NAME=M600_state
		_setLedPrinting
		_setLedNozzleIdle
		SET_GCODE_VARIABLE MACRO=M0 VARIABLE=pause_at_height VALUE=0
		RESUME_BASE
	{% endif %}