[board_pins]
aliases = 
	
    # Motor Drivers
    ## Steppers
    DRIVER_UART_STEPPER_X = PC10,
    DRIVER_UART_STEPPER_Y = PF9,
    DRIVER_UART_STEPPER_Z = PD4,
    DRIVER_UART_STEPPER_Z1 = PD0,
    ENDSTOP_X = PF3,
    ENDSTOP_Y = PF5,
    ENDSTOP_Z = PC0,
    # Extruders
    DRIVER_UART_EXTRUDER0 = PF8,
    DRIVER_UART_EXTRUDER1 = PD14,

    # Heaters and Extruders
    ## Heaters 0
    EXTRUDER_HEATER_0_STEPPER = PA10,
    EXTRUDER_HEATER_0_DIR = PA14,
    EXTRUDER_HEATER_0_EN = PA15,
    EXTRUDER_HEATER_0 = PE3,
    EXTRUDER_HEATER_0_TEMP = PA1,
    ## Heaters 1
    EXTRUDER_HEATER_1_STEPPER = PD11,
    EXTRUDER_HEATER_1_DIR = PD9,
    EXTRUDER_HEATER_1_EN = PD15,
    # EXTRUDER_HEATER_1 = 
    # EXTRUDER_HEATER_1_TEMP =  
    ## Bed
    BED_HEATER = PB7,
    BED_HEATER_CONTROL = PA0,

    ## Steppers
    STEPPER_X_PIN = PE2,
    STEPPER_X_DIR_PIN = PB4,
    STEPPER_X_EN_PIN = PC11,
    STEPPER_X_ENDSTOP_PIN = PF3

    STEPPER_Y_PIN = PD7,
    STEPPER_Y_DIR_PIN = PD6,
    STEPPER_Y_EN_PIN = PF10,
    STEPPER_Y_ENDSTOP_PIN = PF5
    
    STEPPER_Z_PIN = PD3,
    STEPPER_Z_DIR_PIN = PD2,
    STEPPER_Z_EN_PIN = PD5,
    STEPPER_Z_ENDSTOP_PIN = tmc2209_stepper_z:virtual_endstop,

    # Fans
    FAN_EXTRUDER_0_BODY = PE0,
    FAN_DRIVERS = PE1,
    FAN_HEATER_EXTRUDER_0 = PE6,
    FAN_CHAMER = PB8,

    # Lights
    LIGHTS_HEATER = rp2040:gpio20,
    LIGHTS_CHAMBER = PE4,
    LIGHTS_PROGRESS = rp2040:gpio18,
    LIGHTS_RP2040 = rp2040:gpio25N,
	
    # Probe
    PROBE = rp2040:gpio16
    
    # Sensors
    TEMP_SENSOR_CHAMBER = PA3,
    FILAMENTE_SENSOR_EXTRUSOR_0 = PC1,
    FILAMENTE_SENSOR_EXTRUSOR_1 = PC2,
    
    EXP1_2=PE10,

	EXP1_3=PE11,
	EXP1_4=PE12,

	EXP1_5=PE13,
	EXP1_6=PE14,
	# Slot in the socket on this side
	EXP1_7=PE15,
	EXP1_8=PB10,

	EXP1_9=<GND>,
	EXP1_10=<5V>,

	
	EXP2_1=PB14,
	EXP2_2=PB13,

	EXP2_3=PF7,
	EXP2_4=PB12,

	EXP2_5=PE7,
	EXP2_6=PB11,
		# Slot in the socket on this side
	EXP2_7=PE8,
	EXP2_8=<RST>,

	EXP2_9=<GND>,
	EXP2_10=PC5,

	RUNOUT_SP1=PC1