####################################################################
# Settings for X-axis stepper motor. 
####################################################################
[stepper_x]
step_pin: STEPPER_X_PIN
dir_pin: !STEPPER_X_DIR_PIN
enable_pin: !STEPPER_X_EN_PIN
rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 200
# endstop_pin: ^PF3
endstop_pin: STEPPER_X_ENDSTOP_PIN
position_min: -9.8
position_endstop: 330.4
position_max: 330.4
homing_speed: 75
homing_retract_dist: 5.0
homing_retract_speed: 20
second_homing_speed: 15
