####################################################################
# Settings for Z-axis stepper motor. 
####################################################################
[stepper_z]
step_pin: PD3
dir_pin: !PD2
enable_pin: !PD5
rotation_distance: 8
microsteps: 128
endstop_pin: tmc2209_stepper_z:virtual_endstop #^PC0
position_min: -3.5
position_endstop: 340.5
position_max: 345
homing_speed: 12
homing_retract_dist: 0 #5

####################################################################
# Settings for Z-axis aditional stepper motor. 
####################################################################
[stepper_z1]
step_pin: PC9
dir_pin: !PC8
enable_pin: !PD1
microsteps: 128
rotation_distance: 8
