####################################################################
# Settings for Y-axis stepper motor.  
####################################################################
[stepper_y]
step_pin: STEPPER_Y_PIN
dir_pin: STEPPER_Y_DIR_PIN
enable_pin: !STEPPER_Y_EN_PIN
rotation_distance: 40
microsteps: 64
endstop_pin: STEPPER_Y_ENDSTOP_PIN
# endstop_pin: ^PF5
position_min: -4.0
position_endstop: 308
position_max: 308
homing_speed: 75
homing_retract_dist: 5
homing_retract_speed: 20
second_homing_speed: 15
