####################################################################
# Settings for Y-axis stepper motor.  
####################################################################
[stepper_y]
step_pin: PD7
dir_pin: !PD6
enable_pin: !PF10
rotation_distance: 40
microsteps: 64
endstop_pin: PF5
# endstop_pin: ^PF5
position_min: -3
position_endstop: 301
position_max: 303
homing_speed: 75
homing_retract_dist: 5
homing_retract_speed: 20
second_homing_speed: 15
