[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
	{% set temp = printer.extruder.target %}
	SET_GCODE_VARIABLE MACRO=AUTO_FILAMENT_CHANGE VARIABLE=target_temp VALUE={temp}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE_BASE
	_setLedStatusPause
    PARK_HEAD
	{% if printer["gcode_macro M0"].pause_at_height == 1 %}
		M104 S0
		SAVE_GCODE_STATE NAME=M0_state
		{% if printer["gcode_macro M0"].auto_resume == 1 %}
			SET_HEATER_TEMPERATURE HEATER=extruder TARGET={printer['gcode_macro AUTO_FILAMENT_CHANGE'].break_temp}
			G92 E0
        	G1 E-35 F2800
			TEMPERATURE_WAIT SENSOR=extruder  MAXIMUM={printer['gcode_macro AUTO_FILAMENT_CHANGE'].break_temp + 0.25}
			G1 E-995 F3500
			M104 S{temp}
            M400
            T1
            G92 E0
            G1 E860 F3500
            M400
            TEMPERATURE_WAIT SENSOR=extruder  MINIMUM={temp}
            G92 E0
            G1 E80 F65
            SAVE_VARIABLE VARIABLE=material_ext0 VALUE='"empty"'
            G1 E78 F2000
            G1 Y260 F6000
			SET_GCODE_VARIABLE MACRO=M0 VARIABLE=auto_resume VALUE=0
			RESTORE_GCODE_STATE NAME=M0_state MOVE=1
            RESUME
            _setLedNozzleIdle
		{% endif %}
	{% endif %}
    #_TOOLHEAD_PARK_PAUSE_CANCEL {rawparams}