# [gcode_macro PRIME_ROUTINE]
# variable_primed: 0

# gcode:
# 	# {% set X = params.X|default(100)|float %}
# 	# {% set Y = params.Y|default(100)|float %}
# 	# {% set Z = params.Z|default(5)|float %}
# 	# {% set E = params.E|default(100)|float %}
# 	# {% set EX = params.EX|default(50)|float %}
# 	G1 Z5 F700
# 	G92 E0
# 	G1 E50 F750
# 	G1 E100 F80
# 	G92 E0
# 	G1 E-8 F2500
# 	M400
# 	G4 P1000
# 	M204 S5000
# 	_NOZZLE_SCRUB
# 	#G1 Y260 F6000
# 	G1 E0 F900
# 	SET_GCODE_VARIABLE MACRO=PRIME_ROUTINE VARIABLE=primed VALUE=1
#     SET_GCODE_VARIABLE MACRO=M104 VARIABLE=isprinting VALUE=1
#     _setLedNozzleIdle
#     _setLedPrinting

[gcode_macro PRIME_ROUTINE]
variable_primed = 0
gcode = 
	
	# Considering new position to extruder
	G92 E0

	# Extrude 60 mm fast
	G1 E60 F750
	M118 Estrusão inicial 60mm...

	# Extrude 30 mm slow
	G1 E90 F70

	# Considering new position to extruder
	G92 E0
	
	# Retract fillament
	G1 E-3 F2500 # original is -3
	M400
	
	# Nozzle clean
	_NOZZLE_SCRUB
	
	# LED information
	_setLedStatusPrinting
	
	# M118 G1 E0 F900...
	# G1 E0 F900
	
	# Wait for all movements to finish
	M400